<div class = "sub-header-container">
  <div class = "sub-header">
    <a href="/genres/<%= @genre.id %>/edit">Edit Title</a>
    <h4><%=@genre.title%> books</h4>
    <div class = "button">
    <form action="/genres/<%=@genre.id%>/delete" method="post">
      <input type="submit" value="DELETE GENRE!">
    </form>
    </div>
  </div>
</div>
<!--
<form action="/genres/<%=@genre.id%>/delete" method="post">
  <input type="submit" value="DELETE GENRE!">
</form>

<% if @genre.books.empty? %>
<p>No books currently in-store</p>
  <% else %>

<p>Books currently in-store:</p>
-->
<div class = "info-table">
<table>
  <tr>
    <th>Title</th>
    <th>Author(s)</th>
    <th>Edition</th>
    <th>Year Published</th>
    <th>Quantity</th>
  </tr>
<% for book in @genre.books %>
  <tr>
    <td>
      <a href="../books/<%=book.id%>">
      <%=book.title%>
      </a>
    </td>
    <td>
      <% if book.authors.empty? %>
        <a href="/bookauthors/<%=book.id%>/edit"><%=CSSHelper.no_objects%></a>
      <% else %>
        <% for author in book.authors %>
         <a href="../authors/<%=author.id%>"><%= author.pretty_name%></a><br>
        <% end %>
      <% end %>
    </td>
    <td><%=book.edition%></td>
    <td><%=book.year_published%></td>
    <td><%=book.quantity%></td>
  </tr>

<% end %>

</table>
</div>
<% end %>
