<form action="/wholesalers/<%=@wholesaler.id%>" method="post">

  <label for="name">Name:</label>
  <input id="name" type="text" name="name" value = "<%=@wholesaler.name%>">
  <br>
  <label for="address">Address:</label>
  <input id="address" type="text" name="address" value = "<%=@wholesaler.address%>">
  <br>
  <label for="contact-number">Contact Number:</label>
  <input id="contact-number" type="text" name="contact_number" value = "<%=@wholesaler.contact_number%>">
  <br>
  <label for="discount-offered">Discount Offered:</label>
  <input id="discount-offered" type="number" min="0" max="100" step = "0.01" name="discount_offered" value = "<%=@wholesaler.discount_offered%>">%
  <br>
  <input type ="submit" value="Save Changes">

</form>
