<h2><%=@wholesaler.name%></h2>
<a href="/wholesalers/<%= @wholesaler.id %>/edit"><p>(edit)</p></a>
<form action="/wholesalers/<%=@wholesaler.id%>/delete" method="post">
  <input type="submit" value="DELETE WHOLESALER!">
</form>

<table>
  <tr>
    <td><b>Address:<b></td>
    <td><%=@wholesaler.address%></td>
  </tr>
  <tr>
    <td><b>Contact Number:<b></td>
    <td><%=@wholesaler.contact_number%></td>
  </tr>
  <tr>
    <td><b>Discount Offered:<b></td>
    <td><%=@wholesaler.discount_offered%>%</td>
  </tr>
</table>
<hr>
<p>Books currently on sale:</p><br>

<table>
  <tr>
    <th>Title</th>
    <th>Edition</th>
    <th>RRP</th>
    <th>Value Owed</th>
    <th>Quantity</th>
  </tr>

  <% for book in @wholesaler.books %>
  <tr>
    <td>
      <a href="../books/<%=book.id%>"><%=book.title%>
      </a>
    </td>
    <td><%=book.edition%></td>
    <td>£<%=book.rrp%></td>
    <td>£<%=book.value_owed%></td>
    <td><%=book.quantity%></td>
  </tr>
  <% end %>

</table>
