<div class = "sub-header-container">
  <div class = "sub-header">
    <a href="/wholesalers/<%= @wholesaler.id %>/edit">Edit</a>
    <h4><%=@wholesaler.name%> Wholesaler</h4>
    <div class="button">
      <form action="/wholesalers/<%=@wholesaler.id%>/delete" method="post">
        <input type="submit" value="DELETE!">
      </form>
    </div>
  </div>
</div>


<div class = "info-table">

<table>
  <tr>
    <td><h6>Address:</h6></td>
    <td><%=@wholesaler.address%></td>
  </tr>
  <tr>
    <td><h6>Contact Number:</h6></td>
    <td><%=@wholesaler.contact_number%></td>
  </tr>
  <tr>
    <td><h6>Discount Offered:</h6></td>
    <td><%=@wholesaler.discount_offered%>%</td>
  </tr>
</table>

</div>


<% if !@wholesaler.books.empty? %>
<hr>
<div class = "info-table">

<table>
  <tr>
    <th>Title</th>
    <th>Edition</th>
    <th>RRP</th>
    <th>Value Owed</th>
    <th>Quantity</th>
  </tr>

  <% for book in @wholesaler.books %>
  <tr>
    <td>
      <a href="../books/<%=book.id%>"><%=book.title%>
      </a>
    </td>
    <td><%=book.edition%></td>
    <td>£<%=book.print_currency(book.rrp)%></td>
    <td>£<%=book.print_currency(book.value_owed)%></td>
    <td><%=book.quantity%></td>
  </tr>
  <% end %>

</table>

</div>

<% end %>
