<div class = "sub-header-container">
  <div class = "sub-header">
    <a href="/books/new">Add Book</a>
  </div>
</div>

<form action="/books/<%=@book.id%>" method="post">

  <table>
    <tr>
      <td>
        <label for="title">Title:</label>
      </td>
      <td>
        <input id="title" type="text" name="title" value="<%=@book.title%>">
      </td>
    </tr>
    <tr>
      <td>
        <label for="edition">Edition:</label>
      </td>
      <td>
        <input id="edition" type="text" name="edition" value="<%=@book.edition%>">
      </td>
    </tr>

    <tr>
      <td>
        <label for="authors">Author(s):</label>
      </td>
      <td>
        <select id="authors" name="author_ids[]" size="3" multiple>
          <% for author in @authors %>
            <option value="<%=author.id%>" <%="selected" if @book.authors.include?(author)%>>
              <%=author.pretty_name%></option>
          <% end %>
        </select>
      </td>
    </tr>

    <tr>
      <td>
        <label for="genres">Genre(s):</label>
      </td>
      <td>
        <select id="genres" name="genre_ids[]" size="3" multiple>
          <% for genre in @genres %>
            <option value="<%=genre.id%>" <%="selected" if !@book.genres.empty? && @book.genres.include?(genre)%>>
              <%=genre.title%>
            </option>
          <% end %>
        </select>
      </td>
    </tr>

    <tr>
      <td>
        <label for="year-published">Year Published:</label>
      </td>
      <td>
        <input id="year-published" type="number" name="year_published" value = "<%=@book.year_published%>">
      </td>
    </tr>
    <tr>
      <td>
        <label for="rrp">RRP (£):</label>
      </td>
      <td>
        <input id="rrp" type="number" name="rrp" min="0" step = "0.01" value="<%=@book.rrp%>">
      </td>
    </tr>
    <tr>
      <td>
        <label for="quantity">Quantity:</label>
      </td>
      <td>
        <input id="quantity" type="number" name="quantity" min="0" value="1" value="<%=@book.quantity%>">
      </td>
    </tr>
    <tr>
      <td>
        <label for="wholesaler">Wholesaler:</label>
      </td>
      <td>
        <select id="wholesaler" name="wholesale_id">
          <option value="0">Self-Published</option>
          <%for wholesaler in @wholesalers %>
            <option value="<%=wholesaler.id%>" <%="selected" if @book.wholesale_id.to_i == wholesaler.id%>>
              <%=wholesaler.name%>
            </option>
          <%end%>
        </select>
      </td>
    </tr>
    <tr>
      <td>
        <label for="description">Description:</label>
      </td>
      <td>
        <textarea id="description"  name="description" rows = "3" col = "26" maxlength="255"><%=@book.description%></textarea>
      </td>
    </tr>
  </table>
  <input type ="submit" value="Save Book">

</form>
