<div class = "sub-header-container">
  <div class = "sub-header">
    <a href="/books/new">Add Book</a>
    <div class = "search-container">
      <form action="/books" method="post">
        <input type="text" placeholder="Search Title..."name="search_title"></input>
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
    <div class = "search-container">
      <form action="/books" method="post">
        <input type="text" placeholder="Search Author..." name="search_author"></input>
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
  </div>
</div>
<div class = "index-table">
<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Edition</th>
    <th><a href="/authors">Author(s)</a></th>
    <th><a href="/genres">Genres(s)</a></th>
    <th>RRP</th>
    <th>Discount</th>
    <th>Value</th>
    <th>Profit</th>
    <th>Quantity</th>
    <th>Wholesaler</th>
  </tr>
  </thead>
  <% for book in @books %>
  <tr class = "<%=CSSHelper.stock_colour(book.quantity)%>">
  <td>
    <a href="books/<%=book.id%>"><%=book.title%>
    </a>
  </td>
  <td><%=book.edition%></td>

  <td>
  <% if book.authors.empty? %>
    <a href="/bookauthors/<%=book.id%>/edit"><%=CSSHelper.no_objects%></a>
  <% else %>
    <% for author in book.authors %>
     <a href="../authors/<%=author.id%>"><%= author.pretty_name%></a><br>
    <% end %>
  <% end %>
  </td>

  <td>
  <% if book.genres.empty? %>
    <a href="/bookgenres/<%=book.id%>/edit"><%=CSSHelper.no_objects%></a>
  <% else %>
    <% for genre in book.genres %>
     <a href="../genres/<%=genre.id%>"><%= genre.title%></a><br>
    <% end %>
  <% end %>
  </td>

  <!-- <td><%=book.year_published%></td> -->
  <td>£<%=book.print_currency(book.rrp)%></td>
  <td><%=book.print_currency(book.discount)%>%</td>
  <td>£<%=book.print_currency(book.value_owed)%></td>
  <td>£<%=book.print_currency(book.profit)%></td>
  <td><%=book.quantity%></td>
  <td>
    <% if book.is_published? %>
      <a href="/wholesalers/<%=book.wholesale_id%>">
    <% end %>
    <%=book.wholesaler_name%>
    <% if book.is_published? %>
      </a>
    <% end %>
  </td>
  <!-- <td> <%=book.description%></td> -->
  </tr>
  <% end %>

</table>
</div>
