<a href="/books/new">Add New Book</a>
<table style = "width:100%">
  <tr>
    <th>Title</th>
    <th>Edition</th>
    <th>Author(s)</th>
    <th>Genres(s)</th>
    <th>RRP</th>
    <th>Discount %</th>
    <th>Value Owed</th>
    <th>Profit</th>
    <th>Quantity</th>
    <th>Wholesaler</th>
  </tr>

  <% for book in @books %>
  <tr>
  <td>
    <a href="books/<%=book.id%>"><%=book.title%>
    </a>
  </td>
  <td><%=book.edition%></td>

  <td>
  <% if book.authors.empty? %>
    Missing: Please enter
  <% else %>
    <% for author in book.authors %>
     <a href="../authors/<%=author.id%>"><%= author.pretty_name%></a><br>
    <% end %>
  <% end %>
  </td>

  <td>
  <% if book.genres.empty? %>
    Missing: Please enter
  <% else %>
    <% for genre in book.genres %>
     <a href="../genres/<%=genre.id%>"><%= genre.title%></a><br>
    <% end %>
  <% end %>
  </td>

  <!-- <td><%=book.year_published%></td> -->
  <td>£<%=book.print_currency(book.rrp)%></td>
  <td><%=book.print_currency(book.discount)%></td>
  <td>£<%=book.print_currency(book.value_owed)%></td>
  <td>£<%=book.print_currency(book.profit)%></td>
  <td><%=book.quantity%></td>
  <td>
    <% if book.is_published? %>
      <a href="/wholesalers/<%=book.wholesale_id%>">
    <% end %>
    <%=book.wholesaler_name%>
    <% if book.is_published? %>
      </a>
    <% end %>
  </td>
  <!-- <td> <%=book.description%></td> -->
  </tr>
  <% end %>
</table>
