<h2><%=@book.title%></h2>
<a href="/books/<%=@book.id%>/edit">(edit)</a>
<hr>
<table>

  <tr>
    <td>Edition:</td><td> <%=@book.edition%></td>
  </tr>
  <tr>
    <td><a href="/bookauthors/<%=@book.id%>/edit">Author(s):</a></td>
    <td>
      <% if @book.authors.empty? %>
      <b>Missing:</b> <a href="/bookauthors/<%=@book.id%>/edit">Please enter</a>
      <% else %>
      <% @book.authors.each do |author| %>
      <a href="../authors/<%=author.id%>">
        <%=author.pretty_name%>
        <br>
      </a>
      <% end %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td><a href="/bookgenres/<%=@book.id%>/edit">Genre(s):</a></td>
    <td>
      <% if @book.genres.empty? %>
      <b>Missing:</b> Please enter
      <% else %>
      <% for genre in @book.genres %>
      <a href="../genres/<%=genre.id%>"><%= genre.title%></a><br>
      <% end %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>Year Published:</td> <td><%=@book.year_published%></td>
  </tr>
  <tr>
    <td>RRP:</td>
    <td> £<%=@book.rrp%></td>
  </tr>
  <tr>
    <td>Discount:</td>
    <td><%=@book.discount%>%</td>
  </tr>
  <tr>
    <td>Value:</td>
    <td>£<%=@book.value_owed%></td>
  </tr>
  <tr>
    <td>Profit:</td>
    <td>£<%=@book.profit%></td>
  </tr>
  <tr>
    <td>Quantity:</td>
    <td><%=@book.quantity%></td>
  </tr>
  <tr>
    <td>Wholesaler:</td>
    <td>
      <% if !@book.wholesaler.nil? %>
      <a href="../wholesalers/<%=@book.wholesale_id%>">
      <% end %>
        <%=@book.wholesaler_name%>
      <% if !@book.wholesaler.nil? %>
        </a>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>Description:</td>
    <td><%=@book.description%></td>
  </tr>

</table>

<form action="/books/<%=@book.id%>/delete" method="post">
  <input type="submit" value="DELETE BOOK!">
</form>
