<table style = "width:100%">
  <tr>
    <th>Title</th>
    <th>Edition</th>
    <th>Author(s)</th>
    <th>Genres(s)</th>
    <th>RRP</th>
    <th>Discount %</th>
    <th>Value Owed</th>
    <th>Profit</th>
    <th>Quantity</th>
    <th>Wholesaler</th>
  </tr>

  <% for book in @books %>
  <tr>
  <th><a href="book/<%=book.id%>"><%=book.title%></a></th>
  <th><%=book.edition%></th>
  <th><%=book.authors_names%></th>
  <th><%=book.genre_types%></th>
  <!-- <th><%=book.year_published%></th> -->
  <th>£<%=book.print_currency(book.rrp)%></th>
  <th><%=book.discount%></th>
  <th>£<%=book.print_currency(book.value_owed)%></th>
  <th>£<%=book.print_currency(book.profit)%></th>
  <th><%=book.quantity%></th>
  <th>
    <% if book.is_published? %>
      <a href="/wholesaler/<%=book.wholesale_id%>">
    <% end %>
    <%=book.wholesaler_name%>
    <% if book.is_published? %>
      </a>
    <% end %>
  </th>
  <!-- <th> <%=book.description%></th> -->
  </tr>
  <% end %>
</table>
