<% for book in @books %>

<p>Title: <%=book.title%></p>
<p>Edition: <%=book.edition%></p>
<p>Author(s): <%=book.authors_names%></p>
<p>Year Published: <%=book.year_published%></p>
<p>RRP: £<%=book.rrp%></p>
<p>Discount: <%=book.discount%>%</p>
<p>Value: £<%=book.value_owed%></p>
<p>Profit: £<%=book.profit%></p>
<p>Quantity: <%=book.quantity%></p>
<p>Wholesaler: <%=book.wholesaler_name%></p>
<p>Description: <%=book.description%></p>
<hr>

<% end %>
