<table style = "width:100%">
  <tr>
    <th>Title</th>
    <th>Edition</th>
    <th>Author(s)</th>
    <th>Genres(s)</th>
    <th>RRP</th>
    <th>Discount %</th>
    <th>Value Owed</th>
    <th>Profit</th>
    <th>Quantity</th>
    <th>Wholesaler</th>
  </tr>

  <% for book in @books %>
  <tr>
  <td><a href="book/<%=book.id%>"><%=book.title%></a></td>
  <td><%=book.edition%></td>
  <td><%=book.authors_names%></td>
  <td><%=book.genre_types%></td>
  <!-- <td><%=book.year_published%></td> -->
  <td>£<%=book.print_currency(book.rrp)%></td>
  <td><%=book.discount%></td>
  <td>£<%=book.print_currency(book.value_owed)%></td>
  <td>£<%=book.print_currency(book.profit)%></td>
  <td><%=book.quantity%></td>
  <td>
    <% if book.is_published? %>
      <a href="/wholesaler/<%=book.wholesale_id%>">
    <% end %>
    <%=book.wholesaler_name%>
    <% if book.is_published? %>
      </a>
    <% end %>
  </td>
  <!-- <td> <%=book.description%></td> -->
  </tr>
  <% end %>
</table>
