<div class = "sub-header-container">
  <div class = "sub-header">
    <a href="/wholesalers/new">Add Wholesaler</a>
  </div>
</div>

<h2><a href="/books/<%=@book.id%>"><%=@book.title%></a></h2>
<h3>Add/Remove Authors</h3>

<table>


    <tr>
      <form action="/bookauthors/<%=@book.id%>/edit" method="post">
      <td>
        <label for="add-author">Add Author:</label>
      </td>
      <td>
        <select id="add-author" name="add_author">
          <% for author in @add_authors_list %>
          <option value="<%=author.id%>"><%=author.pretty_name%></option>
          <% end %>
        </select>
      </td>
      <td>
        <input type ="submit" value="Add Author">
      </td>
      </form>
    </tr>


    <tr>
      <form action="/bookauthors/<%=@book.id%>/edit" method="post">
      <td>
        <label for="delete-author">Delete Author:</label>
      </td>
      <td>
        <select id="delete-author" name="delete_author">
          <% for author in @delete_authors_list %>
          <option value="<%=author.id%>"><%=author.pretty_name%></option>
          <% end %>
        </select>
      </td>
      <td>
        <input type ="submit" value="Delete Author">
      </td>
      </form>
    </tr>

</table>

<hr>
<h3>Current Authors:</h3>

<ul>
  <% for author in @book.authors %>
  <li> <%=author.pretty_name%></li>
  <% end %>
</ul>
