<h2><%=@author.pretty_name%></h2>
<a href="/authors/<%= @author.id %>/edit"><p>(edit name)</p></a>
<form action="/authors/<%=@author.id%>/delete" method="post">
  <input type="submit" value="DELETE AUTHOR!">
</form>

<p>Books currently in-store:</p>

<table>
  <tr>
    <th>Title</th>
    <th>Genre(s)</th>
    <th>Edition</th>
    <th>Year Published</th>
    <th>Quantity</th>
  </tr>
<% for book in @author.books %>
  <tr>
    <td>
      <a href="../books/<%=book.id%>">
      <%=book.title%>
      </a>
    </td>
    <td>
      <% if book.genres.nil? %>
        Missing: Please enter
      <% else %>
        <% for genre in book.genres %>
         <a href="../genres/<%=genre.id%>"><%= genre.title%></a><br>
        <% end %>
      <% end %>
    </td>
    <td><%=book.edition%></td>
    <td><%=book.year_published%></td>
    <td><%=book.quantity%></td>
  </tr>

<% end %>

</table>
